<%# locals: (html_tag:, instance:) %>
<% if html_tag =~ /^<label/ %>
    <%= html_tag %>
  <% else %>
    <% field_html = Nokogiri::HTML::DocumentFragment.parse(html_tag) %>
    <% field_html.children.add_class('is-danger') %>

    <%== field_html %>

    <p class="help is-danger">
    <%= instance.error_message.to_sentence %>
    </p>
  <% end %>

